$title_fonts: "Karla", "Trebuchet MS", "Helvetica", "sans-serif";
$body_fonts: "Quicksand", "Georgia", "serif";

$title_weight: 700;
$body_weight: 400;
$button_weight: 600;

$layout_contrast: white;
$main: #085DAD   ;
$main_contrast: #21BEDE; 
// $main_contrast: #6c5186; 
$main_navi: #21BEDE ;


/* $layout_contrast: #cc4165;
$main: #ffe6eb;
$main_contrast: #e26c84; 
// $main_contrast: #6c5186; 
$main_navi: #cbf1f5; */