$title_fonts: "Montserrat", "Trebuchet MS", "Helvetica", "sans-serif";
$body_fonts: "Lora", "Georgia", "serif";

$title_weight: 700;
$body_weight: 400;
$button_weight: 600;

$layout_contrast: #cc4165;
$main: #bedb60;
$main_contrast: #35477d; 
// $main_contrast: #6c5186; 
$main_navi: #71a0a5;
$main_navi_contrast: black;