@font-face {
  font-family: 'Karla';
  src: url('./fonts/Karla-Regular.ttf')  format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Medium.ttf')  format('truetype');
  font-display: swap;
}

@import "./variables";

 * {
   box-sizing: border-box;
 }
html {
  min-height: 100vh;
  font-display: swap;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $body_fonts;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $body_weight;
  min-height: 100vh;
  background: linear-gradient(to bottom, white 40%, lighten($main, 50%));
}

div#root {
  width: 100%;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $body_fonts;
  font-weight: $title_weight;
}

p {
  font-size: 1rem;
}

label {
  &:hover {
    span.custom_checkbox_container {
      span.custom_checkbox {
        background: rgba(0,0,0,0.1)
      }
    }
  }

  span.custom_checkbox_container {
    display: inline-block;
    overflow: hidden;
    height: 20px;
  
    input {
        display: none;
  
        &:checked + span.custom_checkbox {
            background-color: $main;
            border: 1px solid $main_contrast;
  
            img {
                width: 15px;
                height: 15px;
            }
        }
    }
    span.custom_checkbox {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid $main;
      background: rgba(0,0,0,0.05);
      transition: all 0.4s;
      margin-right: 10px;
  
      img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          filter: brightness(5);
          width: 0px;
          transition: all 0.4s;
      }
    }
  }
}
