@font-face {
  font-family: 'Lora';
  src: url('./fonts/Lora-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf')  format('truetype');
}

@import "./variables";

 * {
   box-sizing: border-box;
 }
html {
  min-height: 100vh;
  font-display: swap;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $body_fonts;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $body_weight;
  min-height: 100vh;
  background-color: rgb(253, 251, 251);
}

div#root {
  width: 100%;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $body_fonts;
  font-weight: $title_weight;
}

p {
  font-size: 1rem;
}

.container {
  padding: 10px;
}

span.custom_checkbox_container {
  display: inline-block;
  overflow: hidden;
  height: 20px;

  input {
      display: none;

      &:checked + span.custom_checkbox {
          background-color: $main;
          border: 1px solid $main_contrast;

          img {
              width: 15px;
              height: 15px;
          }
      }
  }
  span.custom_checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $main;
    background: rgba(0,0,0,0.05);
    transition: all 0.4s;
    margin-right: 10px;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0px;
        transition: all 0.4s;
    }
  }
}