@import "../variables";

header {
    justify-self: flex-start;
    align-items: center;
    flex: 1 1 auto;
    padding: 10px;
    background: $main;

    > div {

        &.branding {
            max-width: 400px;
            font-family: $title_fonts;
            height: 30px;

            span.image {
                margin-right: 10px;

                img {
                    width: 30px;
                }
            }
            span.app_name {
                font-size: 1.5rem;
                line-height: 1.5rem;
                font-weight: $title_weight;
                color: white;
            }
        }
    }
}