@import "../variables";

footer {
    justify-self: stretch;
    align-self: stretch;
    padding: 10px;
    background: $main_contrast;
    font-family: $body_fonts;
    color: black;

    div {

        &.content {
            text-align: center;

            ul {
                padding: 0;
                list-style-type: none;

                li {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}