@import "../variables";

header {
    justify-self: stretch;
    align-self: stretch;
    align-items: center;
    flex: 1 1 auto;
    padding: 10px;
    background: $main_contrast;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.4);

    > div {

        &.branding {
            max-width: 400px;
            font-family: $title_fonts;
            height: 30px;

            a {
                color: inherit;
                text-decoration: none;
            }

            span.image {
                margin-right: 10px;

                img {
                    width: 30px;
                }
            }
            span.app_name {
                font-size: 1.5rem;
                font-weight: $title_weight;
                color: white;
            }
        }
    }
}