@import "../variables";

footer {
    justify-self: stretch;
    align-self: stretch;
    padding: 10px;
    background: $main;

    div {
        &.social {

        }

        &.content {
            text-align: center;

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}