@import "../variables";

form {
    label.email_label, label.terms_label {
        font-family: $title_fonts;

        h5 {
            margin-top: 0px;
            margin-bottom: 5px;
            font-family: $title_fonts;
            color: $main_navi;
        }

        input[type=email] {
            padding: 8px;
            font-size: 1.2em;
            width: 300px;
            color: $main_contrast;
            border: 2px solid $main_navi;
            border-radius: 5px;
            transition: all  0.5s;
            margin-bottom: 10px;

            @media screen and (max-width: 400px) {
                width: 100%;
            }
        }
    }

    label[for=terms] {
        margin-top: 20px;
        font-weight: 600;
        cursor: pointer;

    }

    span.hint {
        padding-left: 25px;
        font-family: $title_fonts;
        font-size: 0.9em;
        font-weight: 800;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: 20px 20px;

        &.ok {
            background-image: url("../images/interface_icons/ok.svg");
            color: green;;
        }

        &.red_alert {
            background-image: url("../images/interface_icons/red_alert.svg");
            color: rgb(156, 0, 0);
        }

        &::first-letter {
            margin-left: 25px;
        }     
    }
}