@import "../variables";

div.data_holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0px;
    grid-column-start: 1;
    grid-column-end: -1;

    div.data_unit {
        padding-top: 5px;
        padding-bottom: 5px;

        &:nth-of-type(odd) {
            position: relative;
            padding-right: 10px;
            text-align: right;

            &::after {
                position: absolute;
                height: 100%;
                width: 1px;
                right: 0;
                top: 0;
                background-color: $main;
                content: "";
            }
        }

        &:nth-of-type(even) {
            position: relative;
            padding-left: 10px;
            text-align: left;

            &::after {
                position: absolute;
                height: 100%;
                width: 1px;
                left: 0;
                top: 0;
                background-color: $main;
                content: "";
            }
        }

        h5 {
            margin-top: 0px;
            margin-bottom: 5px;
            font-family: $title_fonts;
            color: $main;

        }
        p {
            margin: 0;
            font-family: $title_fonts;
            font-weight: 800;
            color: $main_contrast;
        }
    }

    div.breakdown {
        grid-column-start: 1;
        grid-column-end: -1;

        h4 {
            margin-bottom: 5px;
            font-family: $title_fonts;
            color: $main_navi;
        }
        p {
            margin-top: 5px;
            font-family: $body_fonts;
        }
    }
}