@import "../variables";

form {
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 15px 10px;

    @media screen and (min-width: 450px) {
        grid-template-columns: 1fr 1fr ;
    }
    @media screen and (min-width: 700px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media screen and (min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    label.currency_option {
        position: relative;
        display: inline-flex;
        align-items: stretch;
        background: transparent;
        border-radius: 5px;
        margin-bottom: 10px;
        font-family: $title_fonts;

        input {
            display: none;

            &:checked + span {
                background: $main;
                box-shadow: 0px 0px 0px 0px transparent;
                transition: 0.6s all;

                &::after {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: $main_navi;
                    border-radius: 5px;
                    content: "";
                    top: 5px;
                    left: 5px;
                    z-index: -1;
                    filter: blur(0px);
                }
            }
        }

        > span {
            display: inline-flex;
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            background: linear-gradient(to left, $main, $main_navi);
            box-shadow: 0px 4px 15px rgba(0,0,0,0.3), 0px 0px 2px rgba(0,0,0,0.3), 0px -5px 15px rgba(19, 12, 2, 0.2);
            transition: all 0.5s;

            &::after {
                position: absolute;
                width: 100%;
                height: 100%;
                background: $main_navi;
                content: "";
                top: 5px;
                left: 5px;
                z-index: -1;
                filter: blur(5px);
                transition: 0.5s all;
            }

            span.currency_image {
                position: relative;
                width: 50px;

                img {
                    position: absolute;
                    height: 30px;
                    width: 30px;
                    top: 0;
                    left: 0;
                    transform: translateY(-50%);
                }
            }

            img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

            span.currency_symbol {
                color: white;
                font-weight: 800;
                font-size: 120%;
            }
        }
    }

    button {
        grid-column-start: 1;
        grid-column-end: -1;
    }
}