@import "../variables";

form.currency_select {
    display: grid;
    grid-template-rows: auto 80px;
    grid-auto-rows: auto;

div.labels {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    grid-gap: 10px;

        label.currency_option {
            position: relative;
            display: inline-flex;
            align-items: stretch;
            margin-bottom: 10px;
            background: transparent;
            border-radius: 5px;
            font-family: $body_fonts;

            cursor: pointer;
    
            input {
                display: none;
    
                &:checked + span {
                    background: $main;
                    box-shadow: 0px 0px 0px 0px transparent;
                    transition: 0.6s all;
    

                    span.currency_symbol {
                        color: white;
                    }

                    span.currency_name {
                        color: $layout_contrast;
                    }
                }
            }
    
            > span {
                display: inline-flex;
                width: 100%;
                padding: 8px;
                border-radius: 5px;
                background: transparent;
                box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
                transition: all 0.5s;
    

    
                span.currency_image {
                    position: relative;
                    width: 40px;
    
                    img {
                        position: absolute;
                        height: 30px;
                        width: 30px;
                        top: 0;
                        left: 0;
                        transform: translateY(-50%);
                    }
                }
    
                span.currency_symbol {
                    width: 40px;
                    font-family: $title_fonts;
                    color: $main_navi;
                    font-weight: 800;
                    font-size: 130%;
                    margin-right: 20px;
                }

                span.currency_name {
                    margin-left: 5px;
                    font-weight: 600;
                }
            }
        }
    
        button {
            grid-column-start: 1;
            grid-column-end: -1;
        }
    }

}