@import "../variables";

form.currency_select {
    display: grid;
    grid-template-rows: auto 80px;
    grid-auto-rows: auto;

    fieldset {
        padding: 0;
        border-color: transparent;

        legend {
            display: none;
        }
        div.labels {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
            grid-gap: 10px;


        
                label.currency_option {
                    position: relative;
                    display: inline-flex;
                    align-items: stretch;
                    margin-bottom: 10px;
                    opacity: 0;
                    background: white;
                    font-family: $body_fonts;
                    border-radius: 5px;
                    cursor: pointer;
                    transform: scale(0);
                    transition: transform 0.3s;
                                
                    &.visible {
                            transform: scale(1);
                            opacity: 1;
                    }

                    &:focus, &:hover {
                        transform: scale(1.1);
                        z-index: 2;     
                    }
            
                    input {
                        display: none;
            
                        &:checked + span {
                            background: $main;
                            box-shadow: 0px 0px 0px 0px transparent;
                            transition: 0.6s all;
            
        
                            span.currency_symbol {
                                color: white;
                            }
        
                            span.currency_name {
                                color: $layout_contrast;
                            }
                        }
                    }
            
                    > span {
                        display: inline-flex;
                        width: 100%;
                        padding: 8px;
                        background: transparent;
                        border-radius: 5px;
                        box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
                        transition: all 0.5s;
            
                        span.currency_image {
                            position: relative;
                            width: 40px;
            
                            img {
                                position: absolute;
                                height: 30px;
                                width: 30px;
                                top: 0;
                                left: 0;
                                transform: translateY(-50%);
                            }
                        }
            
                        span.currency_symbol {
                            width: 40px;
                            margin-right: 20px;
                            font-family: $title_fonts;
                            font-weight: 800;
                            font-size: 130%;
                            color: $main_navi;
                        }
        
                        span.currency_name {
                            margin-left: 5px;
                            font-weight: 600;
                        }
                    }
                }
            
                button {
                    grid-column-start: 1;
                    grid-column-end: -1;
                }
            }        
    }


}