@import "../variables";

div.home_container {
    position: absolute;
    grid-row-start: 1;
    grid-row-end: -1;
    height: 100%;
    width: 100%;
    padding: 20px;
    background: url("../assets//images/background.svg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: $title_fonts;

    div.action_container {
        max-width: 400px;
        padding: 20px;
        background: $main_navi;
        color: white;
        
        h1 {
            text-align: center;
            font-family: $title_fonts;
        }
        
        h2 {
            text-align: center;
            font-family: $title_fonts;
            font-size: 18px;
        }

        p {
            margin-top: 5px;
            font-size: 80%;
        }

        .button_holder div:last-of-type {
            transform: scale(0.8)
        }
    }
}