@import "../variables";

div.home_container {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../assets//images/background.svg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: $title_fonts;
    padding: 20px;

    div.action_container {
        max-width: 400px;
        padding: 20px;
        background: $main_navi;
        color: white;
        
        h1 {
            font-family: $title_fonts;
            text-align: center;
        }
        
        h3 {
            font-family: $title_fonts;
            text-align: center;
        }

        p {
            margin-top: 5px;
            font-size: 80%;
        }

        .button_holder div:last-of-type {
            transform: scale(0.8)
        }
    }
}