button.progress {
    overflow: hidden;
    align-items: stretch;

    &:hover {
        &::after {
            height: 500px;
            width: 500px;
        }
    }

    &:active {
        box-shadow: 0px 0px 0px transparent;
    }

    &::after {
        position: absolute;
        height: 0px;
        width: 0px;
        content: "";
        border-radius: 50%;
        z-index: 1;
        transition: height 0.4s, width 0.4s;
    }
    a {
        width: 100%;
        height: 100%;
        z-index: 3;
        color: inherit;
        text-decoration: none;
    }    

    span {
        z-index: 2;
    }
}