$title_fonts: "Montserrat", "Trebuchet MS", "Helvetica", "sans-serif";
$body_fonts: "Lora", "Georgia", "serif";

$title_weight: 700;
$body_weight: 400;
$button_weight: 600;

$main: #6A0F49;
$main_contrast: orange ; 
$main_navi: white;
$main_navi_contrast: black;